.Footer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    clear: both;
    height: 80px;
    background: #FFF;
    margin-top: 75px;
    font-weight: bold;
}